# macOS
.DS_Store

# Python
**/venv/
**/__pycache__/
*.pyc
.env

# Models and Large Files
MLModels/raw_models/
MLModels/dist/
Resources/Models/*.mlpackage
Resources/Models/*.zip

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build artifacts
build/
DerivedData/
